
.Arrow-badge {
  bottom: 36px;
  height: 32px;
  min-width: 60px;
  color: #ffffff;
  position: relative;
  right: 22px;
  &__badge {
    background: #195E5E;
    border-radius: 4px;
    padding: 2px 6px;
    min-width: 70px;
    text-align: center;
  }
  &__arrow {
    border: 7px solid transparent;
    border-bottom: 0;
    border-top-color: #195E5E;
    height: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 0;
  }
}
