
.Interval-component {
  display: flex;
  padding: 12px;
  position: relative;
  &__start {
    background: #d1cfd7;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    height: 4px;
    width: 12px;
  }
  &__badge {
    position: absolute;
    transform: translateX(-50%);
    white-space: nowrap;
  }
}
